image: code.sphoton.com:5050/ci-cd/document-builder:latest

# cache:
#   key: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
#   paths:
#     - node_modules
#     - .docusaurus

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - deploy

build:
  stage: build
  services:
    - docker:20.10.16-dind
  before_script:
    - yarn install
    # login registry
    - echo $CI_JOB_TOKEN | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
    - if [[ "$CI_COMMIT_TAG" -ne "" ]]; then docker tag $CI_REGISTRY_IMAGE:latest $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG && docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG; fi

deploy:
  stage: deploy
  services:
    - docker:20.10.16-dind
  before_script:
    - chmod 400 $PRIVATE_SSH_KEY
    # login registry
    - echo $CI_JOB_TOKEN | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - 'export DIGEST=$(curl -s --header "PRIVATE-TOKEN: $TOKEN_READ_API" $CI_API_V4_URL/projects/$CI_PROJECT_ID/registry/repositories/8/tags/latest | jq -r ".digest")'
    - sed -i "s/:latest/@$DIGEST/g" k8s/deployment.yml
    - scp -o StrictHostKeyChecking=no -i $PRIVATE_SSH_KEY -r k8s/* $USER_HOST@$IP_HOST:/k8s/documents
  script:
    - ssh -o StrictHostKeyChecking=no -i $PRIVATE_SSH_KEY "$USER_HOST@$IP_HOST" 
      "cd /k8s/documents && minikube kubectl -- apply -f service.yml &&
      minikube kubectl -- apply -f deployment.yml"