image: code.sphoton.com:5050/ci-cd/document-builder:latest

cache:
  key: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
  paths:
    - node_modules
    - .docusaurus

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - yarn install
    # login registry
    - echo $CI_JOB_TOKEN | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
    - if [ "$CI_COMMIT_TAG" -ne ""]
      then
      docker tag $CI_REGISTRY_IMAGE:latest $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
      docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
      fi