apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploymentname
spec:
  replicas: 2
  minReadySeconds: 10
  selector:
    matchLabels:
      app: deploymentlabel
  template:
    metadata:
      labels:
        app: deploymentlabel
    spec:
      imagePullSecrets:
        - name: document-secret
      containers:
      - name: deploymentcontainer
        image: code.sphoton.com:5050/documents/documents:latest
        resources: {}
        ports:
        - containerPort: 3000
