apiVersion: apps/v1
kind: Deployment
metadata:
  name: documents-deployment
spec:
  replicas: 1
  minReadySeconds: 10
  selector:
    matchLabels:
      app: documents
  template:
    metadata:
      labels:
        app: documents
    spec:
      hostNetwork: true
      imagePullSecrets:
        - name: document-secret
      containers:
      - name: documents
        image: code.sphoton.com:5050/ducnt/documents:latest
        resources: {}
        ports:
        - containerPort: 3001
